/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --project-sidebar-bg-color: #87cefa;
  --project-sidebar-current-bg-color : #aee0ff;
  --project-sidebar-hover-bg-color : #71afd6;

  --color-positive : #84cc16;
  --color-positive-dark : #14532d;
  --color-negative : #f87171;
  --color-negative-dark : #7f1d1d;
  --color-middle : #fde047;
  --color-middle-dark : #ca8a04;

  --projects-list-items-padding: 0.8rem 1.5rem;
}

.hidden {
  display: none;
}

header {
  padding: 0.2rem 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  background: #333333;
  color: white;
}

header img{
  height: 4rem;
}

.projects-title-container {
  display: flex;
  justify-content: space-between;
}

.mobile-menu-button {
  display: none;
  flex-shrink: 0;
  height: 36px;
  aspect-ratio: 1;

  border: none;
  background: url(/menu.svg);
}

#app {
  display: flex;
  gap: 1rem;
}

#projects-list {
  background-color: var(--project-sidebar-bg-color);
  min-height: 100vh;
  border-right: 2px solid var(--project-sidebar-hover-bg-color);
  /* padding: 1rem; */
  width: 300px;
}

#projects-list hr {
  border-top: 1px solid var(--project-sidebar-hover-bg-color);
  border-left: none;
  border-right: none;
  border-bottom: none;

  margin: 0.3rem 1.5rem;
}

#projects-list ul {
  padding: 0;
  list-style: none;
}

#projects-list ul li {
  padding: var(--projects-list-items-padding);
  display: flex;
  justify-content: space-between;
}

.project-container {
  user-select: none;
  /* margin-bottom: 0.3rem; */
}

.project-container:hover:not(.current-project), .show-new-project-form:hover {
  background: var(--project-sidebar-hover-bg-color);
  cursor: pointer;
}

#projects-list h2, #current-project h2 {
  width: 100%;
  padding: var(--projects-list-items-padding);
}

.delete-project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.delete-project-container:hover {
  background: var(--project-sidebar-hover-bg-color);
}

.project-container:not(.current-project) .delete-project-container:hover {
  background: var(--project-sidebar-current-bg-color);
  aspect-ratio: 1/1;
}

.delete-project {
  display: none;

  background: url(/close.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;

  border: none;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.project-container:hover .delete-project {
  display: block;
}

.current-project .delete-project {
  display: block;
}

#current-project {
  padding: 2rem;
  flex-grow: 1;
}

.current-project {
  background: var(--project-sidebar-current-bg-color);
}

/* New project form */
.show-new-project-form {
  text-align: left;
  width: 100%;
  padding: var(--projects-list-items-padding);
  cursor: pointer;
  border: none;
  background: none;
}

.new-project-form {
  padding: var(--projects-list-items-padding);
  padding-top: 0;
}

.new-project-form input {
  width: 100%;
  margin-bottom: 0.3rem;
  padding: 0.3rem 0.2rem;
}

.add-project-buttons-container {
  display: flex;
  gap: 0.5rem;
}

.add-project-buttons-container button {
  width: 100%;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.add-project-button {
  background: var(--color-positive);
  border: 1px solid var(--color-positive-dark);
}

.cancel-new-project {
  background: var(--color-negative);
  border: 1px solid var(--color-negative-dark);
}

/* Checkbox input customization */
.input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

div.checkbox {
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid gray;
  border-radius: 50%;
  flex-shrink: 0;
}

input.complete-todo {
  display: none;
}

.todo-element-container[data-priority = "low"] .complete-todo:checked ~ .checkbox {
  background: var(--color-positive);
  border-color: var(--color-positive-dark);
}

.todo-element-container[data-priority = "middle"] .complete-todo:checked ~ .checkbox {
  background: var(--color-middle);
  border-color: var(--color-middle-dark);
}

.todo-element-container[data-priority = "urgent"] .complete-todo:checked ~ .checkbox {
  background: var(--color-negative);
  border-color: var(--color-negative-dark);
}


/* New todo form */

.show-new-todo-form {
  background: url(/plus.svg);
  background-color: #87cefa;
  height: 40px;
  width: 40px;
  margin-top: 1rem;
  font-size: 30px;
  border-radius: 50%;
  border: none;
}

.new-todo-form form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.new-todo-form form div {
  display: flex;
  flex-direction: column;
}

.new-todo-form * {
  flex: 1 1 30%;
}

/* Todo element styling */
#current-project ul {
  list-style: none;
}

.todo-element-container {
  min-width: 200px;
  border-bottom: 1px solid black;
  padding: 0.3rem;
}

.priority {
  font-size: 0.85rem;
}

.priority .low {
  color: var(--color-positive-dark);
  font-weight: 900;
}

.priority .middle {
  color: var(--color-middle-dark);
  font-weight: 900;
}

.priority .urgent {
  color: var(--color-negative-dark);
  font-weight: 900;
}



.todo-element-container .title-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.todo-element-container .description {
  margin-left: 1.9rem;
}

.todo-element-container .buttons-row {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
  padding-left: 1.9rem;
}

.tasks-list label{
  display: flex;
  gap: 0.5rem
}

.todo-element-container .date {
  font-size: 0.8rem;
  margin-left: auto;
}

.todo-element-container.complete h3 {
  text-decoration: line-through;
}

.show-edit-todo-form, .delete-todo {
  width: 2rem;
  height: 2rem;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

.show-edit-todo-form {
  background: url(/edit.svg);
}

.delete-todo {
  background: url(/trash.svg);
}

/* edit modal */

#edit-modal {
  position: fixed;
  margin: 150px auto;
}

#edit-modal::backdrop {
  background-color: RGBA(0, 0, 0, 0.75);
}

@media (max-width: 600px) {
  header {
    padding: 0.2rem 1rem;
  }

  #app {
    flex-direction: column;
  }

  #projects-list {
    width: 100%;
    min-height: fit-content;

  }

  .mobile-menu-button {
    display: block;
  }

  #current-project {
    padding: 1rem;
  }

  #current-project ul {
    padding-left: 20px;
  }

  #projects-list h2 {
    margin: 0px !important;
  }

  .closed ul, 
  .closed .show-new-project-form, 
  .closed .new-project-form {
    display: none;
  }
}
