/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

.hidden {
  display: none;
}

header {
  padding: 0.2rem 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  background: #333333;
  color: white;
}

header img{
  height: 4rem;
}

#app {
  display: flex;
  gap: 1rem;
}

#projects-list {
  background-color: #87cefa;
  min-height: 100vh;
  padding: 1rem;
  width: 300px;
}

#projects-list ul {
  padding: 0;
  list-style: none;
}

#projects-list ul li {
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.project-container {
  user-select: none;
  margin-bottom: 0.3rem;
}

.project-container:hover:not(.current-project), .show-new-project-form:hover {
  background: #71afd6;
}

#projects-list h2, #current-project h2 {
  margin-bottom: 1rem;
}

.delete-project {
  display: none;
  background: url(/close.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  border: none;
  width: 1rem;
}

.project-container:hover .delete-project {
  display: block;
}

.current-project .delete-project{
  display: block;
}

#current-project {
  padding: 2rem;
}

.current-project {
  background: #58ade2;
}

/* New project form */
.show-new-project-form {
  width: 100%;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 5px;
  background: none;
}

.new-project-form input {
  width: 100%;
  margin-bottom: 0.3rem;
}

.add-project-buttons-container {
  display: flex;
  gap: 0.5rem;
}

.add-project-buttons-container button {
  width: 100%;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 5px;
}

.add-project-button {
  background: green;
}

.cancel-new-project {
  background: red;
}

/* New todo form */

.show-new-todo-form {
  background: url(/plus.svg);
  background-color: #87cefa;
  height: 40px;
  width: 40px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
}

.new-todo-form form {
  display: flex;
  flex-direction: column;
}